.button {
  width: 80%;
  min-width: 200px;
  max-width: 250px;
  height: 50px;
  margin-top: 10px;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  background-color: #62bdbe;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  /* border: 2px solid red; */
}
