.mainContainer {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-width: 100px;
  max-width: 200px;
  height: 100%;
  /* background-color: pink; */
  /* border: 1px solid red; */
}
.imageButton {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: whitesmoke;
  border: none;
  border-radius: 40px;
  filter: drop-shadow(2px 4px 8px rgba(98, 189, 190, 0.6));
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  /* border: 1px solid #62bdbe; */
}

.imageButton:hover {
  transform: scale(1.1);
  background-color: whitesmoke;
  filter: drop-shadow(0 4px 8px rgba(98, 189, 190, 0.75));

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imageButton > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 20vh;
  box-sizing: content-box !important;
  /* background-color: green; */
  /* border: 2px solid green; */
}

.objectFitDog {
  transform: scale(0.75);
  background-color: transparent;
  object-fit: scale-down;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
  /* border: 2px solid red !important; */
}

.objectFitDog:focus {
  outline: none;
  background-color: transparent;
  pointer-events: none;
}

.objectFitCat {
  transform: scale(0.75);
  object-fit: scale-down;

  background-color: transparent;
  object-fit: contain;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
  /* border: 2px solid red !important; */
}

.objectFitGroup {
  transform: scale(0.75);
  object-fit: scale-down;

  background-color: transparent;
  object-fit: contain;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
  /* border: 2px solid red !important; */
}

.objectFitRescaled {
  transform: scale(0.75);
  object-fit: scale-down;

  background-color: transparent;
  object-fit: contain;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
  /* border: 2px solid red !important; */
}
