.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column: 2 / 9;
  grid-row: 1 / 6;
  overflow: hidden;

  /* background-color: blue; */
}
.avoidBackToTopButton {
  width: 100%;
  height: 40px;
}
.buttonsContainer {
  position: sticky;
  top: 0;
  z-index: 500;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid red; */
}
/* .button {
  width: 80%;
  max-width: 400px;
  height: 50px;
  margin-top: 10px;
  color: whitesmoke;
  font-weight: 600;
  font-size: 1.2em;
  background-color: #1aae9f;
  border-radius: 8px;
  border: none;
  border: 2px solid red;
} */

/* .flagBtn {
  width: 40px;
  height: auto;
  object-fit: contain;
}

.flagPic {
  width: 100%;
  object-fit: contain;
} */

.txtContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  /* border: 2px dotted yellow; */
}

.mainContainer h1,
.mainContainer h2 {
  text-align: center;
}

.mainContainer p {
  /* text-indent: 10px; */
  font-size: 1.2em;
  padding: 15px;

  /* border: 1px solid green; */
}
